<div class="fleetbase-dashboard-grid" ...attributes>
    <GridStack
        @options={{hash float=true animate=true acceptWidgets=true}}
        @onChange={{this.onChangeGrid}}
        @dragInOptions={{hash selector="test" options=(hash appendTo="body" helper="clone")}}
    >
        {{#each this.dashboard.widgets as |widget index|}}
            <GridStackItem @options={{widget.gridOptions}}>
                {{component widget.component options=widget.options}}
            </GridStackItem>
        {{/each}}
    </GridStack>
</div>