{{page-title "Organizations"}}

<Layout::Section::Header @title={{"Organizations"}} />

<Layout::Section::Body class="h-full w-full">
    <div class="max-h-[calc(100vh-10rem)] h-full w-full overflow-y-scroll">
        <div class="h-full w-full">
            Hello World
        </div>
    </div>
</Layout::Section::Body>

<div class="fixed bottom-0 w-full">
    <Layout::Section::Footer>
        {{#if @model.meta}}
            <Pagination
                @meta={{@model.meta}}
                @currentPage={{this.page}}
                @onPageChange={{fn (mut this.page)}}
                @tfootVerticalOffset="53"
                @tfootVerticalOffsetElements=".next-view-section-subheader"
            />
        {{else}}
            Loading...
        {{/if}}
    </Layout::Section::Footer>
</div>