<div class="fleetbase-dashboard-grid flex items-center justify-between mx-2">
    <div class="left-section">
        <!-- Dashboard Title Text -->
        <h1 class="text-lg font-bold">{{this.currentDashboard.name}}</h1>
    </div>
    <div class="right-section ml-4 flex items-center">
        <!-- Select Dropdown -->
        <div class="fleetbase-model-select fleetbase-power-select ember-model-select h-10">
            <PowerSelect
                @options={{this.dashboards}}
                @selected={{this.currentDashboard}}
                @onChange={{fn (mut this.currentDashboard)}}
                @placeholder="Select Dashboard"
                @triggerClass="form-select form-input"
                as |dashboard|
            >
                {{smart-humanize dashboard.name}}
            </PowerSelect>
        </div>
        <!-- Button -->

        <div class="ml-2 relative h-10">
            <DropdownButton class="h-10" @icon="ellipsis-h" @size="sm" @iconPrefix="fas" @triggerClass="hidden md:flex" as |dd|>
                <div class="next-dd-menu mt-1 mx-0" aria-labelledby="user-menu">
                    <div class="p-1">
                        <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.createDashboard)}}>
                            <div class="w-6">
                                <FaIcon @icon="add" />
                            </div>
                            <span>Create new Dashboard</span>
                        </a>
                        <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.onChangeEdit)}}>
                            <div class="w-6">
                                <FaIcon @icon="edit" />
                            </div>
                            <span>Edit dashboard</span>
                        </a>
                        <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.openWidgetSelector)}}>
                            <div class="w-6">
                                <FaIcon @icon="grip" />
                            </div>
                            <span>Add widgets</span>
                        </a>

                        <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.deleteDashboard this.currentDashboard)}}>
                            <div class="w-6">
                                <FaIcon @icon="trash" />
                            </div>
                            <span>Delete dashboard</span>
                        </a>
                    </div>
                </div>
            </DropdownButton>
        </div>
        {{#if this.isEditDashboard}}
            <div class="ml-2 h-10">
                <Button @type="magic" @icon="save" @helpText={{"Save Dashboard"}} @onClick={{this.onChangeEdit}} class="h-10" />
            </div>
        {{/if}}
    </div>
</div>

<Dashboard::Create @isEdit={{this.isEditDashboard}} @dashboard={{this.currentDashboard}} />
{{#if this.isSelectingWidgets}}
    <Dashboard::WidgetPanel @isOpen={{this.isSelectingWidgets}} @onLoad={{this.setWidgetSelectorPanelContext}} @dashboard={{this.currentDashboard}} @onClose={{this.closeWidgetSelector}} />
{{/if}}