<div class="fleetbase-dashboard-grid">
    <div class="flex flex-row">
        <Button @type="default" @icon="add" @helpText={{"Add new widgets to Dashbord"}} @onClick={{this.openWidgetSelector}} />
    </div>
    <Dashboard::Create @dashboard={{this.currentDashboard}} />
</div>

<Dashboard::WidgetPanel @isOpen={{this.isSelectingWidgets}} @onLoad={{this.setWidgetSelectorPanelContext}} @dashboard={{this.currentDashboard}} />