<div class="mb-8 text-center">
    <Image src={{@model.logo_url}} @fallbackSrc="/images/fleetbase-logo-svg.svg" alt={{t "app.name"}} width="160" height="56" class="w-40 h-14 mx-auto" />
    <h2 class="text-lg font-extrabold text-gray-900 dark:text-white truncate">
        {{if this.isSent "Verification Code"}}
    </h2>
</div>

<div class="flex px-3 py-2 mb-4 rounded-md shadow-sm bg-green-200">
    <div>
        <FaIcon @icon="check-circle" @size="lg" class="text-green-900 mr-4" />
    </div>
    <p class="flex-1 text-sm text-green-900 dark:text-green-900">
        <strong>Check your {{this.selectedMethod}}</strong><br />
        We've sent you a verification code. Enter the code below to complete the login process.
    </p>
</div>

<form class="mt-8" {{on "submit" this.verifyCode}}>
    <div class="flex items-center justify-between mt-6">
        <OtpInput @onInput={{this.handleOtpInput}}/>
    </div>
    
    {{#if this.countdownReady}}
        <Countdown @expiry={{this.twoFactorSessionExpiresAfter}} />
    {{/if}}

    <div class="mt-6">
        <Button @buttonType="submit" @type="primary" @text="Verify Code" @icon="check-circle" @wrapperClass="btn-block" @isLoading={{this.isLoading}} />
    </div>

    <div class="text-center">
        <a href="#" class="text-sm text-blue-500 hover:underline inline-block" {{on "click" this.resendCode}}>
            Resend Code
        </a>
    </div>
</form>