<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name="Dashboard name" @value={{@options.name}} @helpText="Enter the name of your dashboard" />
    </div>
</Modal::Default>