<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "component.modals.create-dashboard.name"}} @value={{@options.name}} @helpText={{t "component.modals.create-dashboard.name-help-text"}} />
    </div>
</Modal::Default>