<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container pt-0i text-gray-900 dark:text-white">
        {{#if @options.isOwner}}
            {{#if @options.hasOtherMembers}}
                <p>
                    <div class="text-base mb-2">
                        {{t "component.modals.leave-organization.owner-leaving" orgName=@options.organization.name htmlSafe=true}}
                    </div>
                    <div>{{t "component.modals.leave-organization.select-member-prompt"}}</div>
                </p>
                <InputGroup @name={{t "component.modals.leave-organization.select-new-owner"}} @wrapperClass="mt-2 mb-0i">
                    <Select
                        @options={{@options.organization.users}}
                        @value={{@options.newOwnerId}}
                        @onSelect={{@options.selectNewOwner}}
                        @optionLabel="name"
                        @optionValue="id"
                        @placeholder={{t "component.modals.leave-organization.select-member"}}
                    />
                </InputGroup>
            {{else if @options.willBeDeleted}}
                <p>
                    <div class="text-base mb-2">
                        {{t "component.modals.leave-organization.sole-owner" orgName=@options.organization.name htmlSafe=true}}
                    </div>
                    <div>{{t "component.modals.leave-organization.will-be-deleted"}}</div>
                    <div>{{t "component.modals.leave-organization.are-you-sure"}}</div>
                </p>
                <p class="mt-3"><em>{{t "component.modals.leave-organization.cannot-be-undone"}}</em></p>
            {{/if}}
        {{else}}
            <p>
                <div class="text-base mb-2">
                    {{t "component.modals.leave-organization.confirm-leave" orgName=@options.organization.name htmlSafe=true}}
                </div>
                <div>{{t "component.modals.leave-organization.no-access-warning"}}</div>
            </p>
        {{/if}}
    </div>
</Modal::Default>