<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="px-5">
        {{#if @options.body}}
            <p class="dark:text-gray-400 text-gray-700 mb-4">{{@options.body}}</p>
        {{/if}}
        <InputGroup>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div>
                <PasswordField
                    @labeltext={{t "auth.login.form.password-label" default="Password"}}
                    @value={{this.password}}
                    @name="password"
                    @autocomplete="current-password"
                    @required={{true}}
                    @wrapperClass="mb-0i"
                />
                </div>
                <div>
                <PasswordField
                    @labeltext={{t "fleet-ops.component.modals.set-password.confirm-password" default="Confirm Password"}}
                    @value={{this.confirmPassword}}
                    @name="confirm-password"
                    @autocomplete="confirm-password"
                    @required={{true}}
                    @wrapperClass="mb-0i"
                />
                </div>
            </div>
        </InputGroup>
    </div>
</Modal::Default>