<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="px-5">
        {{#if @options.body}}
            <p class="dark:text-gray-400 text-gray-700 mb-4">{{@options.body}}</p>
        {{/if}}
        <InputGroup>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <InputGroup @name="Password" @type="password" @value={{this.password}} @wrapperClass="mb-0i" />
                <InputGroup @name="Confirm Password" @type="password" @value={{this.confirmPassword}} @wrapperClass="mb-0i" />
            </div>
        </InputGroup>
    </div>
</Modal::Default>