<ContentPanel @title={{t "component.configure.mail.title"}} @open={{true}} @wrapperClass="bordered-classic">
    <InputGroup @name={{t "component.configure.mail.mailer"}} @helpText={{t "component.configure.mail.mailer-help-text"}}>
        <Select @options={{this.mailers}} @value={{this.mailer}} @onSelect={{this.setMailer}} @placeholder={{t "component.configure.mail.select-mailer"}} class="w-full" />
    </InputGroup>
    {{#if (eq this.mailer "smtp")}}
        <InputGroup @name={{t "component.configure.mail.smtp-host"}} @value={{this.smtpHost}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.smtp-port"}} @type="number" @value={{this.smtpPort}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup>
            <Toggle @isToggled={{eq this.smtpEncryption "tls"}} @onToggle={{this.enableSmtpEncryption}} @label={{t "component.configure.mail.smtp-encryption"}} @helpText={{t "component.configure.mail.smtp-tls-help-text"}} />
        </InputGroup>
        <InputGroup @name={{t "component.configure.mail.smtp-username"}} @value={{this.smtpUsername}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.smtp-password"}} @value={{this.smtpPassword}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.smtp-timeout"}} @value={{this.smtpTimeout}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.smtp-auth-mode"}} @value={{this.smtpAuth_mode}} disabled={{this.loadConfigValues.isRunning}} />
    {{/if}}
    {{#if (eq this.mailer "microsoft-graph")}}
        <InputGroup @name={{t "component.configure.mail.client-id"}} @value={{this.microsoftGraphClient_id}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.client-secret"}} @value={{this.microsoftGraphClient_secret}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.tenant-id"}} @value={{this.microsoftGraphTenant_id}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup>
            <Toggle @isToggled={{this.microsoftGraphSave_to_sent_items}} @onToggle={{fn (mut this.microsoftGraphSave_to_sent_items)}} @label={{t "component.configure.mail.save-to-sent-items"}}  />
        </InputGroup>
    {{/if}}
    {{#if (eq this.mailer "mailgun")}}
        <InputGroup @name={{t "component.configure.mail.mailgun-domain"}} @value={{this.mailgunDomain}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.mailgun-endpoint"}} @value={{this.mailgunEndpoint}} disabled={{this.loadConfigValues.isRunning}} />
        <InputGroup @name={{t "component.configure.mail.mailgun-secret"}} @value={{this.mailgunSecret}} disabled={{this.loadConfigValues.isRunning}} />
    {{/if}}
    {{#if (eq this.mailer "postmark")}}
        <InputGroup @name={{t "component.configure.mail.postmark-token"}} @value={{this.postmarkToken}} disabled={{this.loadConfigValues.isRunning}} />
    {{/if}}
    {{#if (eq this.mailer "sendgrid")}}
        <InputGroup @name={{t "component.configure.mail.sendgrid-api-key"}} @value={{this.sendgridApi_key}} disabled={{this.loadConfigValues.isRunning}} />
    {{/if}}
    {{#if (eq this.mailer "resend")}}
        <InputGroup @name={{t "component.configure.mail.resend-api-key"}} @value={{this.resendKey}} disabled={{this.loadConfigValues.isRunning}} />
    {{/if}}
    <InputGroup
        @name={{t "component.configure.mail.from-address"}}
        @helpText={{t "component.configure.mail.from-address-help-text"}}
        @value={{this.fromAddress}}
        @placeholder={{t "component.configure.mail.from-address"}}
        disabled={{this.isLoading}}
    />
    <InputGroup @name={{t "component.configure.mail.from-name"}} @helpText={{t "component.configure.mail.from-name-help-text"}} @value={{this.fromName}} @placeholder={{t "component.configure.mail.from-name"}} disabled={{this.isLoading}} />
    {{#if this.testResponse}}
        <div
            class="flex flex-row items-center rounded-lg border
                {{if (eq this.testResponse.status 'error') 'border-red-900 bg-red-800 text-red-100' 'border-green-900 bg-green-800 text-green-100'}}
                shadow-sm my-2 px-4 py-2"
        >
            <FaIcon
                @icon={{if (eq this.testResponse.status "error") "triangle-exclamation" "circle-check"}}
                class="mr-1.5 {{if (eq this.testResponse.status 'error') 'text-red-200' 'text-green-200'}}"
            />
            <span class="text-xs">{{this.testResponse.message}}</span>
        </div>
    {{/if}}
    <Button @wrapperClass="mt-3" @icon="plug" @text={{t "component.configure.test-config"}} @onClick={{perform this.test}} @isLoading={{this.test.isRunning}} />
</ContentPanel>

<EmberWormhole @to="next-view-section-subheader-actions">
    <Button @type="primary" @size="sm" @icon="save" @text={{t "component.configure.save-changes"}} @onClick={{perform this.save}} @disabled={{this.save.isRunning}} @isLoading={{this.save.isRunning}} />
</EmberWormhole>
