{{page-title "Notifications"}}
<Layout::Section::Header @title="Notifications" />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container mx-auto h-screen" {{increase-height-by 1200}}>
        <div class="max-w-3xl my-10 mx-auto">
            {{#each-in this.groupedNotifications as |groupName notifications|}}
                <ContentPanel @title={{concat (humanize groupName) " Notification Settings"}} @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                    {{#each notifications as |notification|}}
                        <InputGroup @name={{notification.name}} @helpText={{notification.description}}>
                            <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                                <PowerSelectMultiple
                                    @searchEnabled={{true}}
                                    @options={{this.notifiables}}
                                    @selected={{get this.notificationSettings (concat (get-notification-key notification.definition) ".recipients")}}
                                    @onChange={{fn this.onSelectNotifiable notification}}
                                    @placeholder="Select notifiables..."
                                    @triggerClass="form-select form-input form-input-sm flex-1"
                                    as |notifiable|
                                >
                                    {{notifiable.label}}
                                </PowerSelectMultiple>
                            </div>
                        </InputGroup>
                    {{/each}}
                </ContentPanel>
            {{/each-in}}
            <div class="mt-3 flex items-center justify-end">
                <Button @type="primary" @size="lg" @icon="save" @text="Save Changes" @onClick={{this.saveSettings}} @disabled={{this.isLoading}} @isLoading={{this.isLoading}} />
            </div>
        </div>
    </div>
</Layout::Section::Body>