<Layout::Section::Header @title="Organization Users" @searchQuery={{this.query}} @onSearch={{perform this.search}} />

<Layout::Section::Body class="h-full w-full">
    <div class="max-h-[calc(100vh-10rem)] h-full w-full overflow-y-scroll">
        <div class="h-full w-full">
            {{#each @model.users as |user|}}
                <div class="flex flex-row justify-between px-4 py-3 text-black dark:text-white border-b dark:border-gray-800 border-gray-200 text-sm hover:opacity-60">
                    <li>
                        {{user.name}}
                    </li>
                </div>
            {{/each}}
        </div>
    </div>
</Layout::Section::Body>

<div class="fixed bottom-0 w-full">
    <Layout::Section::Footer>
        <Pagination
            @meta={{@model.users}}
            @currentPage={{this.page}}
            @onPageChange={{fn (mut this.page)}}
            @tfootVerticalOffset="53"
            @tfootVerticalOffsetElements=".next-view-section-subheader"
        />
    </Layout::Section::Footer>
</div>